#name {
	//color : rgb(43,164,243);
	color: black;
	}
	
#line {
	background-color: rgb(43,164,243);
	height: 2px;
	}

.title {
	color: rgb(87,181,246);
	}

ul {
	display: inline-block;
}

.date {
	color: gray;
}

img {
	padding: 0 15px; 
	float: left;
	margin-top: 1px;
	height: 126px;
}

form {
  margin: 0 auto;
  width: 400px;
  padding: 1em;
  border: 1px solid #CCC;
  border-radius: 1em;
  border-color: rgb(43,164,243);
  background-color: rgb(207,211,204);
}

form div + div {
  margin-top: 1em;
}

label {
  display: inline-block;
  width: 90px;
  text-align: right;
  font-weight: bold;
}

input, textarea {
  font: 1em sans-serif;
  width: 300px;
  box-sizing: border-box;
  border: 1px solid #999;
}

input:focus, textarea:focus {
  border-color: #000;
}

textarea {
  vertical-align: top;
  height: 5em;
}

.button {
  padding-left: 90px;
}

button {
  margin-left: .5em;
}

form > center {
	color: rgb(43,164,243);
}

body {
	background-image: url("https://images.unsplash.com/photo-1519751138087-5bf79df62d5b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1500&q=80");
}
